<div class="container">
  <div class="row w-100 vh-100 align-items-center justify-content-center">
    <div class="col-xs-6">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="confirmationPassword">Confirm Password</label>
          <input id="confirmationPassword" type="password" formControlName="confirmationPassword" class="form-control">
        </div>
        <div class="form-group">
          <label for="membership">Membership</label>
          <select
            name="membership"
            id="membership"
            formControlName="membership"
            class="form-control"
          >
             <option *ngFor="let membership of memberships" [ngValue]="membership">
               {{ membership }}
             </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>